.acl-directive .select {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
  padding: 0 2vw;
}

.acl-directive .containeradd .dir .s1 {
    display: flex;
    justify-content: space-between;
}

.acl-directive .containeradd .dir .s1 input , .acl-directive .containeradd .dir .s1 label {
  display: block;
}

.acl-directive label {
  display: inline;
  font-size: 1vw;
}
.acl-directive a {
  display: block;
  text-decoration: none;
  height: 24px;
  color: #f00;
  font-weight: bold;
  font-size: 2vh;
  cursor: pointer;
}
.acl-directive select {
  background: none;
  height: 5vh;
  width: 20vw;
  border-radius: 60px;
  padding: 0 1vw;
  margin-left: 3vw;
  border: 1px solid #000;
}

.acl-directive option {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  padding: 4vh;
  border-radius: 10px;
  background-color: #000;
  color: whitesmoke;
}

.acl-directive {
  width: 100%;
  height: 75vh;
  margin-top: -10vh;
  position: relative;
}

.acl-directive .acl-directive-box {
  margin: auto;
  width: 80vw;
  min-width: 500px;
  background-color: #fff;
  position: relative;
  border-radius: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  top: 4vh;
  flex-direction: column;
  padding: 15vh 2.5vw 0 2.5vw;
  height: 72vh;
}

.acl-directive .acl-directive-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: -50px;
  width: 20%;
  height: 50px;
  background-color: #fff;
  border-radius: 20px 0px 0px 0px;
}

.acl-directive .acl-directive-box::after {
  content: "";
  position: absolute;
  left: 20%;
  top: -50px;
  width: 7.5%;
  height: 50px;
  background-color: #fff;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.acl-directive .acl-directive-box .logo {
  background-image: url("../assets/directive.svg");
  background-position: center;
  background-size: cover;
  width: 15vw;
  height: 15vw;
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  top: -6vh;
}

.acl-directive .acl-directive-box .table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  font-size: 0.8vw;
}

.acl-directive .acl-directive-box .table .tbody {
  overflow-y: auto;
  height: 30vh;
}

.acl-directive .acl-directive-box .table .tbody::-webkit-scrollbar {
  width: 0.5vw;
  margin: 0 1vw;
}

.acl-directive .acl-directive-box .table .tbody::-webkit-scrollbar-track {
  background: #555;
  border-radius: 1vw;
}

.acl-directive .acl-directive-box .table .tbody::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1vw;
}

.acl-directive .acl-directive-box .table .th {
  display: flex;
  width: 100%;
  height: 6vh;
}

.acl-directive .acl-directive-box .table .tr {
  height: 6vh;
  margin: 1vh 0;
}

.acl-directive .acl-directive-box .table .tr:last-child {
  margin-bottom: 150px;
}

.acl-directive .acl-directive-box .table .th .mac-and-ip {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 1vh;
  background-color: #000;
  clip-path: polygon(0% 0%, 98% 0%, 100% 100%, 0% 100%);
}

.acl-directive .acl-directive-box .table .tr .mac-and-ip {
  background-color: #f00;
}

.acl-directive .acl-directive-box .table .th .mac-and-ip h1 {
  color: #fff;
}

.acl-directive .acl-directive-box .table .th .actions {
  background-color: #000;
  padding: 1vh;
  width: 20%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
}

.acl-directive .acl-directive-box .table .tr .actions {
  background-color: #f00;
  padding: 1.3vh;
  color: #fff;
  font-size: 1.2vw;
}

.acl-directive .acl-directive-box .table .th .actions h1 {
  color: #fff;
  text-align: center;
}

.acl-directive .acl-directive-box .table .tr .actions .logo-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.acl-directive .acl-directive-box .table .tr .actions .logo-actions .edit {
  cursor: pointer;
}

.acl-directive .acl-directive-box .table .tr .actions .logo-actions .supp {
  cursor: pointer;
}

.acl-directive .access {
  font-size: 0.8vw;
  height: 70%;
  width: 18%;
  border-radius: 10px;
  border: none;
  clip-path: polygon(0% 0%, 93% 0%, 100% 100%, 7% 100%);
}

.acl-directive .submit {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 1vh;
}

.acl-directive .submit button {
  display: block;
  font-size: 1vw;
  width: 20%;
  color: beige;
  border-radius: 15px;
  background-color: rgb(4, 34, 54);
  border: none;
  padding: 1vh;
}


.add-directive {
  position: absolute;
  width: 94vw;
  height: 79vh;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #190306;
}

.add-directive .containeradd {
  position: relative;
}

.add-directive .containerdir {
  width: 55vw;
  height: 65vh;
  background-color: #fff;
  border-radius: 1.5vw;
  clip-path: polygon(0 0, 20% 0, 25% 9%, 95% 9%, 100% 14%, 100% 100%, 0 100%);
}

.add-directive .square {
  width: 8vw;
  height: 10vw;
  position: absolute;
  background-color: #f009;
  z-index: 3;
  border-radius: 1vw;
  transform: rotate(60deg);
}

.add-directive .square1 {
  right: -6vw;
  top: 30vh;
}

.add-directive .square2 {
  right: -4vw;
  top: 40vh;
}

.add-directive .square3 {
  right: -2vw;
  top: 50vh;
}

.add-directive .dir {
  width: 55vw;
  height: 59vh;
  border-radius: 1.5vw;
  position: absolute;
  top: 5.9vh;
  z-index: 2;
  overflow: hidden;
  padding: 2vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.add-directive .section {
  width: 43vw;
  height: 8vh;
}

.add-directive .section hr {
  background-color: #000;
  border: none;
  height: 1px;
  width: 43vw;
  margin: 2vh 0;
}

#add-content input, .add-directive .s1 input,.add-directive .s2 input{
  border-radius: 4vw;
  height: 5vh;
  border: .5px solid #000;
  width: 18vw;
  font-size: 1vw;
  padding: 0 .8vw;
  color: #999;
  margin:1vw;
}

#add-content select{
  display: block;
  margin: 1vw;
}

.add-directive .s2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7vh;
  height: 31vh;
}

.add-directive .s2 select, .add-directive .s2 input, .add-directive .s2 div p input {
  width:16vw;
} 

.add-directive .s2 div,.add-directive .s2 p {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.add-directive .s3 {
  height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-directive button {
  border: none;
  border-radius: 2vw;
  padding: 1vh;
}

.add-directive .plus {
  width: 2vw;
  height: 2vw;
  font-size: 1.2vw;
  font-weight: bolder;
  padding: 0;
  background-color: #f00;
  color: #fff;
  display: none;
}

.add-directive .btns{
  display: flex;
  justify-content: space-between;
  width: 43vw;
}

.add-directive .btns button{
  width: 6vw;
  font-size: .8vw;
  background-color: #999;
}

.add-directive .btns .ok{
  background-color: #f00;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .acl-directive .acl-directive-box {
    width: 90vw;
  }
}

/* Pour les écrans plus petits que 576px */
@media screen and (max-width: 576px) {
  .acl-directive .acl-directive-box {
    width: 95vw;
  }
}
