.dhcp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conDhcp {
  position: relative;
  overflow: hidden;
  margin-top: -10vh;
}

.conDhcp .containerdir {
  width: 60vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 1.5vw;
  overflow: hidden;
  clip-path: polygon(0 0, 15% 0, 20% 9%, 95% 9%, 100% 14%, 100% 100%, 0 100%);
}

.conDhcp .square {
  width: 8vw;
  height: 10vw;
  position: absolute;
  background-color: #f009;
  z-index: 3;
  border-radius: 1vw;
  transform: rotate(60deg);
}

.conDhcp .square1 {
  right: -4vw;
  top: 40vh;
}

.conDhcp .square2 {
  right: -2vw;
  top: 50vh;
}

.conDhcp .square3 {
  right: 0;
  top: 60vh;
}

.conDhcp .dir {
  width: 60vw;
  height: 69vh;
  background-color: #fff;
  border-radius: 1.5vw;
  position: absolute;
  top: 5.9vh;
  z-index: 2;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conDhcp .containerDhcp {
  width: 17vw;
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -8vh;
}

.conDhcp .containerDhcp h1{
  font-size: 2vw;
}

.conDhcp .containerDhcp .dhcpImg {
  background-image: url(../assets/Dchp.svg);
  background-position: center;
  background-size: cover;
  width: 11vw;
  height: 11vw;
}

.conDhcp .containerInput {
  width: 27vw;
  height: 38vh;
  border: 1px solid #000;
  margin-top: 17vh;
  border-radius: 1vw;
}

.conDhcp .containerInput .input {
  position: relative;
  left: 2.5vw;
  height: 10vh;
  left: 3vw;
  top: 2vh;
}

.conDhcp .containerInput .input input {
  width: 17vw;
  height: 5.5vh;
  border-radius: 4vw;
  border: 1px solid #000;
  background-color: #fff;
  padding: 1.25vh 1vw;
  font-size: 0.8vw;
}

.conDhcp .containerInput .input label {
  position: absolute;
  font-size: 1vw;
  top: -1.6vh;
  left: 1.5vw;
  background-color: #fff;
  padding: 0 0.3vw;
}

.conDhcp .containerInput button {
  color: #f00;
  font-size: 1vw;
  border: none;
  background: none;
  margin-left: 18vw;
  font-weight: bolder;
}

.conDhcp .containerInput .line {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
  height: 4vh;
  width: 22.5vw;
}

.conDhcp .containerInput .line button {
  margin: 0 1vw;
  width: 2vw;
  box-shadow: 0 1px #f00;
  border-radius: 0.7vw;
}

.conDhcp .containerInput .line input {
  border-radius: 1vw;
  border: 1px solid #000;
  width: 18vw;
}

.configurer {
  background: none;
  border-radius: 1.5vw;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5vw;
  padding: 0.5vh 1vw;
  margin-top: 2vh;
}

.dhcp1 .dir {
  height: 60vh;
  width: 40vw;
}

.dhcp1 .containerdir {
  height: 66vh;
  width: 40vw;
}
