.conAuthLog {
  background-color: #fff;
}

.conLog h3 {
  text-align: center;
  color: #000;
  font-size: xx-large;
  margin: 2vh;
}

.conLog .principale .box {
  margin: auto;
  background-color: #fff;
  border-radius: 2vw;
  position: relative;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 65vw;
  height: 75vh;
  clip-path: polygon(36% 0%, 47% 9%, 100% 9%, 100% 100%, 0% 100%, 0% 0%);
}
.conLog .principale .box .border-clip {
  border-radius: 10%;
  margin: 1vh 0 0 -23vw;
  padding: 0.08vh 0.06vw;
  width: 16vw;
  height: 10vh;
  background-color: #000;
  font-weight: bold;
  clip-path: polygon(60% 0%, 110% 75%, 110% 160%, 0% 160%, 0% 0%);
}

.conLog .principale .box .clip_bas {
  border-radius: 10%;
  width: 15.86vw;
  height: 9.8vh;
  font-weight: bold;
  padding: 1vh;
  clip-path: polygon(60% 0%, 110% 75%, 110% 160%, 0% 160%, 0% 0%);
  background-color: #fff;
}

.conLog .principale .box .table,
.conLog .principale .table {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 2px 0px;
  margin-top: 3vw;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 57vh;
}

.conLog .principale .box .table::-webkit-scrollbar {
  width: 0.5vw;
  margin: 0 1vw;
}

.conLog .principale .box .table::-webkit-scrollbar-track {
  background: #555;
  border-radius: 1vw;
}
.conLog .principale .box .table::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1vw;
}

.conLog .principale .box .table .th {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
  height: 5vh;
  font-size: 0.8vw;
}

.conLog .principale .table .th {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
  height: 8vh;
  font-size: 1vw;
}

.conLog .principale .box .table .th0,
.conLog .principale .table .th0 {
  left: -9vw;
  background-color: #f00;
}
.conLog .principale .box .table .th1,
.conLog .principale .table .th1 {
  left: 17vw;
  background-color: #f00;
}
.conLog .principale .box .table .th3,
.conLog .principale .table .th3 {
  background-color: #000;
}
.conLog .principale .box .table .th3,
.conLog .principale .table .th3 {
  padding: 0;
}
.conLog .principale .box .table .th0 .contenu,
.conLog .principale .table .th0 .contenu {
  margin-left: 18vw;
}
.conLog .principale .box .table .th1 .contenu,
.conLog .principale .table .th1 .contenu {
  margin-left: -8vw;
}

.conLog .principale .box .table .tr:last-child,
.conLog .principale .table .tr:last-child {
  margin-bottom: 150px;
}
.conLog .principale .box .table .th .contenu,
.conLog .principale .table .th .contenu {
  display: flex;
  width: 80vw;
  padding: 10px 30px;
  background-color: #000;
  border-radius: inherit;
}
.conLog .principale .box .table .tr .contenu,
.conLog .principale .table .tr .contenu {
  background-color: #f00;
}

#history .tr,
#history .th {
  height: auto;
  max-height: 20vh;
  background-color: #f00;
}
#authlog .tr,
#authlog .th {
  height: 15vh;
}

#authlog .th .contenu h1,
#authlog .tr .contenu h1 {
  font-weight: normal;
  color: #fff;
  width: auto;
  max-width: 60%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0.2vh 1vw;
}

#history .tr .contenu h1,
#history .th .contenu h1 {
  color: #fff;
  width: auto;
  max-width: 60%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0.2vh 1vw;
}

.filter {
  position: relative;
  right: 0;
  margin-top: 10vh;
  margin-left: 60%;
  width: 100%;
}

#authlog-link .filter {
  margin: 2vw;
  margin-top: 4vw;
}

#filter_History,
#history_date,
#f_authlog,
#authlog_d,
#first_session,
#last_session {
  background: none;
  height: 5vh;
  width: 15vw;
  border-radius: 60px;
  padding: 0 1vw;
  border: 1px solid #000;
  margin-left: 2vw;
}

#f_authlog,
#authlog_d {
  border: 1px solid #000;
  color: #000;
}

#authlog .th .contenu h1 {
  width: 15%;
}

#first_session,
#last_session {
  position: relative;
  background-color: #fff;
  padding: 1vh;
  margin: 2vh;
  width: 50vw;
  height: auto;
}
