.stat {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat .containerdir {
  width: 50vw;
  height: 46vh;
  background-color: #d9d9d9;
  border-radius: 1.5vw;
  clip-path: polygon(0 0, 15% 0, 20% 9%, 97% 9%, 100% 14%, 100% 100%, 0 100%);
}

.stat .container-charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat .container-charts .chart-top {
  display: flex;
  width: 93vw;
  justify-content: space-between;
  /* margin-left: -3vw; */
}

.stat .container-charts .chart-top .chart-top-left {
  position: relative;
}

.stat .container-charts .chart-top .chart-top-left .contains {
  width: 53vw;
  height: 33vh;
  padding-left: 0.5vw;
}

.stat .container-charts .chart-top .chart-top-left .contains canvas {
  margin-left: 7vw;
}

.stat .container-chart-traffic-content {
  display: flex;
  flex-direction: column;
}

.stat .contains {
  display: flex;
}

.stat .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stat .buttons button {
  border-radius: 0.5vw;
  width: 2.5vw;
  height: 4vh;
  border: 1px solid #000;
  font-size: 0.8vw;
  background: none;
  font-weight: bolder;
}

.stat .container-charts .chart-top .chart-top-left .container-chart-traffic {
  width: 54vw;
  height: 42vh;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 1.5vw;
  position: absolute;
  top: 4vh;
  left: 0;
  z-index: 2;
}

.stat .container-charts .chart-top .chart-top-left .container-chart-traffic h1{
margin-left: 7vw;
}

.stat
  .container-charts
  .chart-top
  .chart-top-left
  .container-chart-traffic
  .selection {
  display: flex;
  justify-content: left;
}

.stat .container-charts h1 {
  font-size: 1.5vw;
  text-align: center;
}

.stat .container-charts .selections {
  position: relative;
  left: 0;
}

.stat .container-charts select {
  height: 4vh;
  padding: 0 0.5vw;
  width: 7vw;
  border-radius: 0.4vw;
  background: none;
  margin: .4vh .3vw;
}

.stat .container-charts .chart-top .chart-top-right {
  position: relative;
  top: 6vh;
  z-index: 2;
}

.stat .container-charts .chart-top .chart-top-right .contains {
  width: 33vw;
  height: 33vh;
}

.stat .container-charts .chart-top .chart-top-right .contains canvas {
  margin-left: 6.5vw;
}

.stat .container-charts .chart-top .chart-top-right .containerdirChart {
  width: 34vw;
  height: 45vh;
  background-color: #fff;
  border-radius: 1.5vw;
  position: absolute;
  top: -4.5vh;
  z-index: -1;
  clip-path: polygon(
    0% 20%,
    5% 10%,
    80% 10%,
    85% 0,
    100% 0%,
    100% 100%,
    0 100%
  );
}

.stat
  .container-charts
  .chart-top
  .chart-top-right
  .container-chart-traffic-content {
  width: 34vw;
  border-radius: 1.5vw;
  height: 40.5vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat
  .container-charts
  .chart-top
  .chart-top-right
  .container-chart-traffic-content
  .chart-traffic-content {
  display: block;
}

.stat .container-charts .chart-bottom {
  display: flex;
  margin-top: 2vh;
  justify-content: space-evenly;
  width: 100vw;
  /* margin-left: -3vw; */
}

.stat .container-charts .chart-bottom .chart-bottom-left {
  display: block;
}

.stat .container-charts .chart-bottom .chart-bottom-left .contains {
  width: 26.5vw;
  height: 33vh;
}

.stat .container-charts .chart-bottom .chart-bottom-left .contains canvas {
  margin-left: 5vw;
}

.stat .container-charts .chart-bottom .chart-bottom-left .proxy-state {
  width: 29vw;
  height: 40vh;
  background-color: #fff;
  border-radius: 1vw;
  padding: 0 .4vw;
}

.stat .container-charts .chart-bottom .chart-bottom-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.stat .container-charts .chart-bottom .chart-bottom-center .contains {
  width: 26.5vw;
  color: #fff;
  height: 33vh;
}

.stat .container-charts .chart-bottom .chart-bottom-center .contains .buttons {
margin-left: -.5vw;
}

.stat .container-charts .chart-bottom .chart-bottom-center .contains button {
  border-color: #fff;
  color: #fff;
}

.stat .container-charts .chart-bottom .chart-bottom-center .contains canvas {
  margin-left: 1vw;
  margin-top: 2vw;
}

.stat
  .container-charts
  .chart-bottom
  .chart-bottom-center
  .container-chart-sitePop {
  width: 29vw;
  height: 40vh;
  border-radius: 1vw;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat
  .container-charts
  .chart-bottom
  .chart-bottom-center
  .container-chart-sitePop
  .chart-sitePop {
  display: block;
}

.stat .container-charts .chart-bottom .chart-bottom-right {
  display: block;
}

.stat .container-charts .chart-bottom .chart-bottom-right .contains {
  width: 28vw;
  height: 33vh;
}

.stat .container-charts .chart-bottom .chart-bottom-right .contains canvas {
  margin-left: 4vw;
}

.stat
  .container-charts
  .chart-bottom
  .chart-bottom-right
  .container-chart-proxyCharge {
  width: 29vw;
  height: 40vh;
  border-radius: 1vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat
  .container-charts
  .chart-bottom
  .chart-bottom-right
  .container-chart-proxyCharge
  .chart-proxyCharge {
  display: block;
}

.stat .new-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.438);
  backdrop-filter: blur(2px);
}

.stat .new-container .new-container-chart-traffic {
  width: 54vw;
  height: 42vh;
  background-color: #8a0a0a;
  display: flex;
  justify-content: center;
  border-radius: 1.5vw;
  z-index: 60;
}
