* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pop;
}

@font-face {
  font-family: pop;
  src: url(../assets/FontsFree-Net-Poppins-Medium.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #190306;
  overflow: hidden;
  z-index: 0;
}

.swiper-container {
  margin-left: 3.5vw;
  height: 90vh;
  width: 94vw;
  overflow: hidden;
}

.swiper-container-vertical .swiper-wrapper {
  height: 78vh;
  width: 94vw;
}

.swiper-container-vertical .swiper-wrapper .swiper-slide {
  height: 78vh;
  width: 94vw;
}

.admin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.admin a{
  color: #000;
}

.conAdmin {
  position: relative;
}

.conAdmin .containerdir {
  width: 25vw;
  height: 65vh;
  background-color: #fff;
  border-radius: 1.5vw;
  clip-path: polygon(0 0, 20% 0, 25% 9%, 95% 9%, 100% 14%, 100% 100%, 0 100%);
}

.conAdmin .square {
  width: 8vw;
  height: 10vw;
  position: absolute;
  background-color: #f009;
  z-index: 3;
  border-radius: 1vw;
  transform: rotate(60deg);
}

.conAdmin .square1 {
  right: -6vw;
  top: 30vh;
}

.conAdmin .square2 {
  right: -4vw;
  top: 40vh;
}

.conAdmin .square3 {
  right: -2vw;
  top: 50vh;
}

.conAdmin .dir {
  width: 25vw;
  height: 59vh;
  border-radius: 1.5vw;
  position: absolute;
  top: 5.9vh;
  z-index: 2;
  overflow: hidden;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.conAdmin .dir .container {
  width: 20vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conAdmin .dir .container {
  width: 10vw;
  margin: 15vh 0 0 -10vw;
}

.conAdmin .containerImg {
  width: 12vw;
  height: 30vh;
  position: absolute;
  background-position: center;
  background-size: cover;
  top: -4vh;
  left: 9vw;
  z-index: 10;
}

.conAdmin .proxyImg {
  background-image: url(../assets/proxy.png);
}

.conAdmin .aclImg {
  background-image: url(../assets/ACL.png);
}

.conAdmin .logImg {
  background-image: url(../assets/logs.png);
  left: 8vw;
  width: 16vw;
}

.conAdmin .dhcpImg {
  background-image: url(../assets/dhcp.png);
}

.conAdmin .firewallImg {
  background-image: url(../assets/access.svg);
}

.conAdmin .dir .container h1 {
  font-size: 1.5vw;
}
